{{!-- Edit Profile --}}

<h1 class="eph">Edit Your Profile</h1>
<div class="npcontainer">

    <form class="profile" method="POST">

        {{#info}}
        <label>Your Name</label>
        <input name="first" type="text" value="{{first}}">

        <label>Your Last Name</label>
        <input name="last" type="text" value="{{last}}">

        <label>Your Email Address</label>
        <input name="email" type="text" value="{{email}}">

        <label>Your Brand New Password</label>
        <input name="pwd" type="password">

        <label>Your Age</label>
        <input name="age" type="number" {{#if age}} value="{{age}}" {{/if}}>

        <label>Your City</label>
        <input name="city" type="text" {{#if city}} value="{{city}}" {{/if}}>

        <label>Your Homepage</label>
        <input name="homepage" type="text" {{#if homepage}} value="{{homepage}}" {{/if}}>


        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" id="signup">Date-me-up!</button>
        {{/info}}

    </form>
</div>
<img id="whitecat" alt="white cat with blue and green eyes" src="10.png">
{{#if profileUpdate}}
<h3>Thank you for updating your profile!</h3>
<img src="11.png" alt="very happy cat" id="happykitty">
{{/if}}