{{!-- Edit Profile --}}

<h1>Edit Your Profile</h1>

<form method="POST">
    {{#info}}
    <input name="first" type="text" value="{{first}}">
    <label>Your Name</label>
    <br>
    <input name="last" type="text" value="{{last}}">
    <label>Your Last Name</label>
    <br>
    <input name="email" type="text" value="{{email}}">
    <label>Your Email Address</label>
    <br>
    <input name="pwd" type="password">
    <label>Your Brand New Password</label>
    <br>
    <input name="age" type="number" {{#if age}} value="{{age}}" {{/if}}>
    <label>Your Age</label>
    <br>
    <input name="city" type="text" {{#if city}} value="{{city}}" {{/if}}>
    <label>Your City</label>
    <br>
    <input name="homepage" type="text" {{#if homepage}} value="{{homepage}}" {{/if}}>
    <label>Your Homepage</label>
    <br>
    <button type="submit" id="signup">Date-me-up!</button>
    <br>

    {{/info}}

</form>

{{#if profileUpdate}}
<h3>Thank you for updating your profile!</h3>
{{/if}}