{{!--signers--}}

<h2 id="suph">Here are all the lovely people who've supurrrrted us!</h2>

<table id="supporters">
    {{#names}}
    <tr>
        <td>
            {{#if homepage}}<a href="{{homepage}}"> {{first}} {{last}}</a>{{else}} {{first}}
            {{last}}{{/if}}{{#if age}}, {{age}}
            {{/if}} {{#if city}}<a href="/signers/{{city}}"> | {{city}}</a> {{/if}}
        </td>
    </tr>
    {{/names}}
</table>
<img src="12.png" id="lovecats" alt="two loving cats">